@using Connect.Koi;
<script src="@App.Path/lib/owl2/owl.carousel.min.js" data-enableoptimizations="true" ></script>

<link rel="stylesheet" href="@App.Path/lib/owl2/assets/owl.carousel.min.css" data-enableoptimizations="true" />
<link rel="stylesheet" href="@App.Path/dist/@(Koi.PickCss("bs3,bs4", "bs3")).css" data-enableoptimizations="true" />

<div class="co-gallery co-gallery-fullscreen">
    <div class="co-list owl-carousel owl-carousel-@Dnn.Module.ModuleID">
        @foreach (var Content in AsDynamic(Data["Default"]))
        {
            <div class="sc-element co-gallery-slide" style="@(!String.IsNullOrEmpty(Content.Image) ? ("background-image: url(" + @Content.Image.Replace(" ", "%20") + "?w=1600&quality=60&scale=both&mode=crop&anchor=" + @Content.CropAnchor + ")") : "" )">
                @Edit.Toolbar(Content)
				@if(!String.IsNullOrEmpty(Content.Heading) || !String.IsNullOrEmpty(Content.Text) || !String.IsNullOrEmpty(Content.LinkText)) {
					<div class="co-slidercontent">
						<div class="container-fluid">
							@if(!String.IsNullOrEmpty(Content.Heading)){
								<p class="lead">
									@Html.Raw(Content.Heading.Replace("\n","<br/>"))
								</p>
							}
							@if(!String.IsNullOrEmpty(Content.Text)){
								<div class="co-slidertext">
									@Html.Raw(Content.Text)
								</div>
							}
							@if(!String.IsNullOrEmpty(Content.LinkText)){
								<a  @Koi.Class("all='btn' bs3='btn-primary' bs4,oth='btn-primary'") href="@Content.Link" target="@(Content.TargetBlank is bool && Content.TargetBlank ? "_blank" : "_self")" title="@(!String.IsNullOrEmpty(Content.LinkTitleAttr) ? Content.LinkTitleAttr : Content.LinkText)">@Content.LinkText</a>
							} 
						</div>
					</div>
				}
            </div>
        }
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        // Sort random function
        function random(owlSelector) {
            owlSelector.children().sort(function () {
                return Math.round(Math.random()) - 0.5;
            }).each(function () {
                $(this).appendTo(owlSelector);
            });
        };

        $(".owl-carousel-@Dnn.Module.ModuleID").owlCarousel({
            items: 1,
            itemsDesktop: false,
            itemsDesktopSmall: false,
            itemsTablet: false,
            itemsMobile: false,
            lazyLoad: true,
            navText: ["&lsaquo;", "&rsaquo;"],
            dots: @ListContent.ShowPagination.ToString().ToLower(),
            theme: "owl-2sic",
            autoplay: @ListContent.AutoPlay.ToString().ToLower(),
            smartSpeed:@ListContent.SmartSpeed,
            autoplayTimeout:@ListContent.AutoplayTimeout,
			autoHeight : false,
            mouseDrag: @ListContent.MouseDrag.ToString().ToLower(),
            animateOut:"@((ListContent.AnimateOut) ? "fadeOut" : "")",
            loop: @ListContent.InfinityLoop.ToString().ToLower(),
            rewind: @ListContent.RewindNav.ToString().ToLower(),
            nav: @ListContent.ShowNavigation.ToString().ToLower(),
            beforeInit: function (elem) {
                if(@ListContent.Random.ToString().ToLower())
                    random(elem);
            }
        });

       
        window.dispatchEvent(new Event('resize'));



    });
</script>